*{
    margin: 0;
    padding: 0;
}
.main-container{
    border: 1px solid;
    margin: 8px;
    /* height: 97vh; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.profile-container{
    /* border: 1px solid red; */
    display: flex;
    gap: 24px;
    padding: 16px 16px 0px 16px;
}
.profile-pic{
    border: 1px solid;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.pic-content{
    background-color: lightgray;
    width: 96%;
    height: 96%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
}
.p-title{
    font-size: 26px;
    font-weight: 500;
}
.p-desc{
    font-size: 15px;
    font-weight: 400;
}
.p-location{
    font-size: 15px;
    font-weight: 400;
}
.links{
    /* padding: 16px; */
    padding-left: 28px;
}
.links a {
    text-decoration: none;
    color: #000;
}
.repos-container{
    padding: 15px 28px 0px 28px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: -20px;
}
.repo{
    border: 1px solid;
    width: 47%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.repo-title{
    color: #3C89CC;
    font-size: 26px;
    font-weight: 600;
}
.repo-desc{
    font-size: 15px;
    font-weight: 400;
}
.tech-stacks-container{
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
.stack{
    background-color: #3C89CC;
    /* border: 1px solid; */
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
}
.pagination-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pages{

}

.pages ul{
    display: flex;
    list-style: none;
}
.pages ul li {
    border: 1px solid #b1b1b1;
    padding: 6px 10px;
    color: #3C89CC;
    border-right: none;
}
.pagination-btn-container{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 18px;
}
.btn-inactive{
    padding: 8px 26px;
    border-radius: 17px;
    border: 2px solid lightgray;
    background: none;
    font-weight: 700;
}
.btn-active{
    padding: 8px 26px;
    border-radius: 17px;
    border: 2px solid lightgray;
    background: none;
    color: #3C89CC;
    font-weight: 700;
}